{% extends "layout.html" %}

{% block title %}Signup{% endblock %}

{% block body %}

<div class="multistepwrapper">
    {% if step == "basicinfo" %}

    <div class="infowrapper">
        <form action="{{ url_for('auth.signup', step='morespecific') }}" class="signupform" method="POST">
            <div class="stepmenu">
                <ul>
                    <li class="formbold-step-menu1 active">
                        <span>1</span>
                        <a href="/signup/basicinfo">Basic Info</a>
                    </li>
                    <li class="formbold-step-menu2">
                        <span>2</span>
                        More Specific
                    </li>
                    <li class="formbold-step-menu3">
                        <span>3</span>
                        Confirm
                    </li>
                </ul>
            </div>
    
            <div class="basicinfocontent">
              <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label">First name</label>
                    <input
                    type="text"
                    name="firstname"
                    placeholder="John"
                    id="firstname"
                    class="formbold-form-input"
                    required
                    />
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label">Last name</label>
                    <input
                    type="text"
                    name="lastname"
                    placeholder="Smith"
                    id="lastname"
                    class="formbold-form-input"
                    required
                    />
                </div>
              </div>
      
              <div class="formbold-input-flex">
                  <div>
                      <label for="dob" class="formbold-form-label">Date of Birth</label>
                      <input 
                      type="date" 
                      name="dob" 
                      id="dob" 
                      class="formbold-form-input"
                      required
                      />
                  </div>
                  <div>
                      <label for="email" class="formbold-form-label">Email Address (cpsd.us)</label>
                      <input
                      type="email"
                      name="email"
                      placeholder="example@cpsd.us"
                      id="email"
                      class="formbold-form-input"
                      required
                      />
                  </div>
              </div>
              <div class="formbold-input-flex">
                <div>
                    <label for="password" class="formbold-form-label">Password</label>
                    <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    id="password"
                    class="formbold-form-input"
                    required
                    />
                </div>
                <div>
                    <label for="confirmpassword" class="formbold-form-label">Confirm Password</label>
                    <input
                    type="password"
                    name="confirmpassword"
                    placeholder="Confirm Password"
                    id="confirmpassword"
                    class="formbold-form-input"
                    required
                    />
                </div>

              </div>
              <!-- Add a confirmation password div here and wrap both divs in the same flex div as above. -->
              <button class="nextstep" type="submit">Next Step</button>
        </form>
    </div>

    {% elif step == "morespecific" %}

    <div class="infowrapper">
        <form action="{{ url_for('auth.signup', step='confirm') }}" class="signupform" method="POST">

            <div class="stepmenu">
                <ul>
                    <li class="formbold-step-menu1">
                        <span>1</span>
                        <a href="/signup/basicinfo">Basic Info</a>
                    </li>
                    <li class="formbold-step-menu2 active">
                        <span>2</span>
                        <a href="/signup/morespecific">More Specific</a>
                    </li>
                    <li class="formbold-step-menu3">
                        <span>3</span>
                        Confirm
                    </li>
                </ul>
            </div>

            <div class="infocontent">
                <ul class="mainselector">
                    <div class="selectortitlewrapper">
                      <p class="selectortitle">Are you signing up as a Mentor or Mentee?</p>
                    </div>
                    <li class="buttonwrapper">
                      <div class="selectoritem">
                        <label class="buttonlabel">Mentor
                          <input type="radio" name="menteementor" value="Mentor" class="buttonselect" required>
                          <span class="checkmark" id="radiocheck"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Mentee
                          <input type="radio" name="menteementor" value="Mentee" class="buttonselect" required>
                          <span class="checkmark" id="radiocheck"></span>
                        </label>
                      </div>
                    </li>
                    <div class="selectortitlewrapper">
                      <p class="selectortitle">Race(s)</p>
                    </div>
                    <li class="buttonwrapper">
                      <div class="selectoritem">
                        <label class="buttonlabel">Asian / SouthAsian
                          <input type="checkbox" name="race" value="Asian" class="buttonselect">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Black
                          <input type="checkbox" name="race" value="Black" class="buttonselect">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Hispanic
                          <input type="checkbox" name="race" value="Hispanic" class="buttonselect">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">White
                          <input type="checkbox" name="race" value="White" class="buttonselect">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <input type="input" name="race" placeholder="Other" class="buttonselect" id="inputother">
                      </div>
                    </li>
                    <div class="selectortitlewrapper">
                      <p class="selectortitle">Religion(s)</p>
                    </div>
                    <li class="buttonwrapper">
                      <div class="selectoritem">
                        <label class="buttonlabel">Christianity
                          <input type="checkbox" name="religion" value="Christianity" class="buttonselect">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Islam
                          <input type="checkbox" name="religion" value="Islam" class="buttonselect">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Judaism
                          <input type="checkbox" name="religion" value="Judaism" class="buttonselect">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Hindu
                          <input type="checkbox" name="religion" value="Hindu" class="buttonselect">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Atheist
                          <input type="checkbox" name="religion" value="Atheist" class="buttonselect">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <input type="input" name="religion" placeholder="Other" class="buttonselect" id="inputother">
                      </div>
                    </li>
                    <div class="selectortitlewrapper">
                      <p class="selectortitle">Gender</p>
                    </div>
                    <li class="buttonwrapper">
                      <div class="selectoritem">
                        <label class="buttonlabel">Male
                          <input type="radio" name="gender" class="buttonselect" value="Male">
                          <span class="checkmark" id="radiocheck"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Female
                          <input type="radio" name="gender" class="buttonselect" value="Female">
                          <span class="checkmark" id="radiocheck"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Non-Binary
                          <input type="radio" name="gender" class="buttonselect" value="Non-Binary">
                          <span class="checkmark" id="radiocheck"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <input type="text" name="gender" placeholder="Other" class="buttonselect" id="inputother">
                      </div>
                    </li>
                    <div class="selectortitlewrapper">
                      <p class="selectortitle">Fluent Language(s)</p>
                    </div>
                    <li class="buttonwrapper">
                      <div class="selectoritem">
                        <label class="buttonlabel">Amharic
                          <input type="checkbox" name="languages" class="buttonselect" value="Amharic">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Bangla
                          <input type="checkbox" name="languages" class="buttonselect" value="Bangla">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Spanish
                          <input type="checkbox" name="languages" class="buttonselect" value="Spanish">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Hindi
                          <input type="checkbox" name="languages" class="buttonselect" value="Hindi">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Portuguese
                          <input type="checkbox" name="languages" class="buttonlabel" value="Portuguese">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Chinese
                          <input type="checkbox" name="languages" class="buttonlabel" value="Chinese">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <input type="text" name="languages" placeholder="Other" class="buttonselect" id="inputother">
                      </div>
                    </li>
                    <div class="selectortitlewrapper">
                      <p class="selectortitle">Academic Interest(s)</p></div>
                    <li class="buttonwrapper">
                      <div class="selectoritem">
                        <label class="buttonlabel">Math
                          <input type="checkbox" name="academics" class="buttonselect" value="Math">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">English
                          <input type="checkbox" name="academics" class="buttonselect" value="English"> 
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">History
                          <input type="checkbox" name="academics" class="buttonselect" value="History">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Chemistry
                          <input type="checkbox" name="academics" class="buttonselect" value="Chemistry">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Physics
                          <input type="checkbox" name="academics" class="buttonselect" value="Physics">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Biology
                          <input type="checkbox" name="academics" class="buttonselect" value="Biology">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <label class="buttonlabel">Computer Science
                          <input type="checkbox" name="academics" class="buttonselect" value="ComputerScience">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="selectoritem">
                        <input type="text" name="academics" placeholder="Other" class="buttonselect inputother" id="inputother">
                      </div>
                      <div class="hiddenselector">
                        <input type="text" name="email" value="{{ email }}">
                      </div>
                    </li>
                  </ul>
            </div>
            <button class="nextstep" type="submit">Next Step</button>
        </form>
    </div>

    {% elif step == "confirm" %}

    <div class="infowrapper">
      <div class="stepmenu">
        <ul>
            <li class="formbold-step-menu1">
                <span>1</span>
                <a href="/signup/basicinfo">Basic Info</a>
            </li>
            <li class="formbold-step-menu2">
                <span>2</span>
                <a href="/signup/morespecific">More Specific</a>
            </li>
            <li class="formbold-step-menu3 active">
                <span>3</span>
                Confirm
            </li>
        </ul>
    </div>
      <div class="steptitle">Confirm Your Information</div>
      <div class="confirmbody">
        <form action="{{ url_for('auth.signup', step='finish') }}" class="signupform" method="POST">
          <div class="confirmtext">
            <div class="confirmanschoi">
              <div class="confirmcat">
                Mentee/Mentor:
              </div>
              <div class="confirmchoice">
                {% if mentormentee == "Mentor" %}Mentor{% else %}Mentee{% endif %}
              </div>
            </div>
            <div class="confirmanschoi">
              <div class="confirmcat">
                Race:
              </div>
              <div class="confirmchoice">
                {{ race }}
              </div>
            </div>
            <div class="confirmanschoi">
              <div class="confirmcat">
                Religion:
              </div>
              <div class="confirmchoice">
                {{ religion }}
              </div>
            </div>
            <div class="confirmanschoi">
              <div class="confirmcat">
                Gender:
              </div>
              <div class="confirmchoice">
                {{ gender }}
              </div>
            </div>
            <div class="confirmanschoi">
              <div class="confirmcat">
                Languages:
              </div>
              <div class="confirmchoice">
                {{ languages }}
              </div>
            </div>
            <div class="confirmanschoi">
              <div class="confirmcat">
                Academics
              </div>
              <div class="confirmchoice">
                {{ academics }}
              </div>
            </div>
          </div>
          <div class="controlbutton">
            <button class="nextstep" type="submit" id="confirmfinish">Confirm</button>
            <button class="nextstep goback" type="submit" id="goback"><a href="/signup/morespecific">Back</a></button>
          </div>
          
        </form>
      </div>
    </div>

    {% elif step == "finish" %}

    <div class="infowrapper">
      <div class="steptitle">Sign up complete!</div>
      <div class="finishbody">
        <p class="finishtext">
          Sign up is complete! 
          <br>
          Please click <b>here</b> to explore the possibilities of being a mentor/mentee, or click <b>here</b> to return to the main page!
          <br>
          Thank you!
        </p>
      </div>
    </div>

    {% endif %}

</div>

{% endblock %}