:root {
    --background: #ecf1edff; 
    --compliment1: #9ccca9ff; 
    --compliment2: #b9650bff; 
    --compliment3: #bd9b19ff; 
    --compliment4: #254215ff;
    --alertorangebackground: #ffdb9b;
    --alertorangesideborder: #ffa502;
    --alertorangemessage: #ce8500;
    --alertgreenbackground: #46d287;
    --alertgreensideborder: #03bc4d;
    --alertgreenmessage: #009122;
    --font: "Arial, Helvetica, sans-serif";
}

* {
    margin: 0;
    /* background-color: var(--background); */
}

body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/********** Navbar: (source: https://www.codingnepalweb.com/responsive-navigation-menu-bar-html-css/) **********/
.mainnav {
  background: var(--compliment4);
  height: 80px;
  width: 100%;
}
label.logo {
  color: var(--background);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.mainnav ul {
  float: right;
  margin-right: 20px;
}
.mainnav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.mainnav ul li a{
  color: var(--background);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,a:hover{
  background: var(--compliment3);
  transition: .5s;
  color: var(--background);
}
.checkbtn{
  font-size: 30px;
  color: var(--compliment3);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  .mainnav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--compliment3);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .mainnav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .mainnav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: var(--compliment2);
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  /* background: url(bg1.jpg) no-repeat; */
  background-color: var(--background);
  background-size: cover;
  height: calc(100vh - 80px);
}

/********* Login (source: https://www.codingnepalweb.com/login-form-validation-in-html-javascript/) **********/
.wrapperwrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

::selection{
  color: #fff;
  background: var(--compliment2);
}
.wrapper{
  width: 380px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
}
.wrapper form{
  margin: 40px 0;
}
.loginform .field{
  width: 100%;
  margin-bottom: 20px;
}
.loginform .field.shake{
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    margin-left: 0px;
  }
  20%, 80%{
    margin-left: -12px;
  }
  40%, 60%{
    margin-left: 12px;
  }
}
.loginform .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
}
.loginform input{
  width: 75%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: var(--compliment2);
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
.loginform .field input:focus,
.loginform .field.valid input{
  border-color: var(--compliment3);
}
.loginform .field.shake input,
.loginform .field.error input{
  border-color: #dc3545;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon{
  right: 15px;
  color: #dc3545;
}
.loginform input:focus ~ .icon,
.loginform .field.valid .icon{
  color: #5372F0;
}
.loginform .field.shake input:focus ~ .icon,
.loginform .field.error input:focus ~ .icon{
  color: #bfbfbf;
}
.loginform input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}
.loginform .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
.loginform .field .error{
  display: none;
}
.loginform .field.shake .error,
.loginform .field.error .error{
  display: block;
}
.loginform .pass-txt{
  text-align: left;
  margin-top: -10px;
}
.wrapper a{
  color: var(--compliment1);
  text-decoration: none;
}
.wrapper a:hover{
  text-decoration: underline;
}
.loginform input[type="submit"]{
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: var(--compliment1);
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
.loginform input[type="submit"]:hover{
  background: var(--compliment3);
}

/********** Multi-step signin form (source: https://formbold.com/templates/multi-step-form)  */
.multistepwrapperwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.infowrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
  padding: 20px;
  height: 100%;
}

.stepmenu {
  padding-bottom: 18px;
  margin-bottom: 35px;
  border-bottom: 1px solid var(--compliment4);
}
.stepmenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.stepmenu li {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: grey;
}
.stepmenu li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
}
.stepmenu li.active {
  color: var(--compliment4);
}
.stepmenu li.active span {
  background: var(--compliment2);
  color: #FFFFFF;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}
.formbold-input-flex > div {
  width: 50%;
}
.formbold-form-input {
  width: 80%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #DDE3EC;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  color: var(--compliment4);
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: black;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-form-confirm {
  border-bottom: 1px solid #DDE3EC;
  padding-bottom: 35px;
}
.formbold-form-confirm p {
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  margin-bottom: 22px;
  width: 75%;
}
.formbold-form-confirm > div {
  display: flex;
  gap: 15px;
}

.formbold-confirm-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
  border: 0.5px solid #DDE3EC;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  cursor: pointer;
  padding: 10px 20px;
  transition: all .3s ease-in-out;
}
.formbold-confirm-btn {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
.formbold-confirm-btn.active {
  background: var(--compliment2);
  color: #FFFFFF;
}

.formbold-form-step-1,
.formbold-form-step-2,
.formbold-form-step-3 {
  display: none;
}
.formbold-form-step-1.active,
.formbold-form-step-2.active,
.formbold-form-step-3.active {
  display: block;
}

.formbold-form-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 25px;
}
.formbold-back-btn {
  cursor: pointer;
  background: #FFFFFF;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: none;
}

.formbold-back-btn.active {
  display: block;
}

.nextstep {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  font-weight: 500;
  background-color: var(--compliment2);
  color: white;
  cursor: pointer;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nextstep:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, .3);
}

#submitter {
  display: none;
}
#submitter.active {
  display: block;
}

.mainselector {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
}

.buttonwrapper {
  /* border: 1px solid red; */
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.selectoritem {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* border: 1px solid blue; */
  width: 100%;
  height: 20%;
}

/* .selectortitlewrapper { */
  /* border: 1px solid purple; */
/* } */

.selectortitle {
  font-size: large;
  padding: 15px;
  padding-left: 0;
}

.buttonlabel {
  /* border: 1px solid green; */
  font-weight: bold;
  padding: 2px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttonlabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--compliment4);
}

#radiocheck {
  border-radius: 50%;
}

.buttonlabel:hover input ~ .checkmark {
  background-color: var(--compliment3);
}

.buttonlabel input:checked ~ .checkmark {
  background-color: var(--compliment3);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.buttonlabel input:checked ~ .checkmark:after {
  display: block;
}

.buttonlabel .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#inputother {
  border: 1.5px solid var(--compliment4);
  border-radius: 3px;
  width: 200px;
  height: 30px;
  font-size: 15px;
}

.inputother:focus {
  border-color: var(--compliment1);
}

/***** Confirm signup stages styling: *****/
.confirmbody {
  /* border: 1px solid green; */
  /* height: 100vh; */
}

.confirmtext {
  display: flex;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
}

.confirmanschoi {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  border-bottom: 1px dashed black;
  flex-wrap: wrap;
}

.confirmcat {
  /* border: 1px solid blue; */
}

.confirmchoice {
  /* border: 1px solid pink; */
}

/********** Main page styling: **********/
.maincontainer {
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.hometitle {
  border: 1px solid green;
}

/********* Find Mentor Styling **********/
.findmentorbody {
  border: 1px solid black;
  background-color: white;
}

.findmentorcontainer {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  /* background-color: #232427; */
  background-color: var(--background);
  /* margin-left: 10%;
  margin-right: 10%; */
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
} 

/* Source / insporation: https://codepen.io/saviomartin/pen/LYNgqKW */
.mentorcardscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.mentorcardscontainer .mentorcard {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.mentorcardscontainer .mentorcard:nth-child(1) .box .content a {
  background: #2196f3;
}

.container .mentorcard:nth-child(2) .box .content a {
  background: #e91e63;
}

.mentorcardscontainer .mentorcard:nth-child(3) .box .content a {
  background: #23c186;
}

.mentorcardscontainer .mentorcard .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: var(--compliment1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.mentorcardscontainer .mentorcard .box:hover {
  transform: translateY(-50px);
}

.mentorcardscontainer .mentorcard .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.mentorcardscontainer .mentorcard .box .content {
  padding: 20px;
  text-align: center;
}

.mentorcardscontainer .mentorcard .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.mentorcardscontainer .mentorcard .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.mentorcardscontainer .mentorcard .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.mentorcardscontainer .mentorcard .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.mentorcardscontainer .mentorcard .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

/***************** Flash messages (Alert / Success) Styling: ***************/ 
.alert {
  background: var(--alertorangebackground);
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid var(--alertorangemesssage);
  overflow: hidden;
  opacity: 1;
  pointer-events: auto;
  z-index: 20;
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
      transform: translateX(100%);
  }
  40% {
      transform: translateX(-10%);
  }
  80% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-10px);
  }
}

.alert.hide {
  animation: hide_slide 1s ease forwards;
  opacity: 0;
  display: none;
}

@keyframes hide_slide {
  100% {
      opacity: 0;
      display: none;
  }
  /* 40% {
      transform: translateX(0%);
  }
  80% {
      transform: translateX(-10%);
  }
  100% {
      transform: translateX(100%);
  } */
}

.alert .msg {
  padding: 0 20px;
  font-size: 18px;
  color: var(--alertorangemessage);
}

.alert .btn-close {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--alertorangemessage);
  padding: 20px 18px;
  cursor: pointer;
}

.alert .btn-close:hover {
  background: var(--alertorangesideborder);
}

.success {
  background: var(--alertgreenbackground);
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid var(--alertgreenmessage);
  overflow: hidden;
  opacity: 1;
  pointer-events: auto;
  z-index: 20;
}

.success.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.success.show {
  animation: show_slide 1s ease forwards;
}

.success.hide {
  animation: hide_slide 1s ease forwards;
  opacity: 0;
  display: none;
}

.success .msg {
  padding: 0 20px;
  font-size: 18px;
  color: var(--alertgreenmessage);
}

.success .btn-close {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--alertgreenmessage);
  padding: 20px 18px;
  cursor: pointer;
}

.success .btn-close:hover {
  background: var(--alertgreensideborder);
}